@model webui.Models.TodoItemDetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>TodoItemDetailsViewModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.IsComplete)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.IsComplete)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.ErrorMessage)
        </dt>
        @{
            if (Model.FeatureFlags.FeatureFlagIsActive("ta-10-notes-web-ui"))
            {
                <dt class="col-sm-2">
                    @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Notes)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TodoItem.Notes)
                </dd>
            }
        }
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TodoItem.ErrorMessage)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
