@model webui.Models.TodoViewModel

@{
    ViewData["Title"] = "Todo List";
}

@{
    if (Model.FeatureFlagIsActive("new-welcome-message"))
    {
        <h1 class="display-4" id="ListHeadline">The cool todo list</h1>
    }
    else
    {
        <h1 class="display-4" id="ListHeadline">Things todo</h1>
    }
    <h5 class="small">Environment: @(Model.Environment)</h5>
    <h5 class="small">Version: @(Model.Version) </h5>
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Id)
            </th>
            <th>
                @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Name)
            </th>
            <th>
                @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.IsComplete)
            </th>
            @{
                if (Model.FeatureFlagIsActive("todo-extra-info"))
                {
                    <th>
                        @Html.DisplayNameForInnerType((webui.Models.TodoItemViewModel itemsModel) => itemsModel.Note)
                    </th>
                }
            }
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.TodoItems)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IsComplete)
                </td>
                @{
                    if (Model.FeatureFlagIsActive("todo-extra-info"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.Note)
                        </td>
                    }
                }
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
